<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFVnmG00Meq3y9eupwUP0zTJqBtNbRY10</string>
	<key>GCM_SENDER_ID</key>
	<string>937753507024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.documentauth</string>
	<key>PROJECT_ID</key>
	<string>documentauth-652bc</string>
	<key>STORAGE_BUCKET</key>
	<string>documentauth-652bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937753507024:ios:c9f90f5bdd3633f8a2dad5</string>
</dict>
</plist>